


/* Mise en forme du pied de page */
footer {
  background-color: royalblue;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  position: absolute; /* Position absolue pour fixer le pied de page en bas de la fenêtre */
  bottom: 1;
  width: 100%;
}

