

<footer class="footer">
  <div class="content has-text-centered">
    <p>

      <!-- Lien vers Git -->
      <strong>This application has been created</strong> by
      <a href="https://github.com/SydneyJezequel/">Sydney Jezequel</a>.
      The source code is licensed

      <!-- Lien vers le site de la ville de Brest -->
      <a href="https://brest.fr/">Ville de Brest</a>.
      The website content is licensed
      <a>CC BY BZH BZ 2.9</a>.

      <!-- Lien vers le formulaire de contact -->
      <br>
      <a routerLink="contact">Contact</a>

    </p>
  </div>
</footer>

