

<!-- NavBar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="assets/triskell.ico" width="70" height="58" class="rounded-image">
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">
        Accueil
      </a>

      <a class="navbar-item" routerLink="/add">
        Ajouter
      </a>

      <a class="navbar-item" routerLink="/add/many-personnes">
        Ajouter en masse
      </a>

      <a class="navbar-item" routerLink="/villes">
        Villes
      </a>

    </div>
  </div>
</nav>

